@model IEnumerable<OnlineCourse.Entity.Models.Present>
@{
    ViewData["Title"] = "انتخاب درس (قیمت ها به تومان می باشد)";
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <form asp-action="Index" asp-controller="CheckOut" method="get">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <b>@ViewData["Title"]</b>
                    </div>
                    <div class="box-body">
                        @if (!Model.Any())
                        {
                            <div>
                                <hr />
                                <p class="text-center">
                                    <i class="fa fa-frown-o fa-3x" aria-hidden="true"></i>
                                </p>
                                <h4 class="text-center">هیچ درسی در مقطع شما ارایه نشده است که انتخاب نکرده باشید.</h4>
                                <hr />
                            </div>
                        }
                        else
                        {
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            Id
                                        </th>
                                        <th>
                                            نام درس
                                        </th>
                                        <th>
                                            نام استاد
                                        </th>
                                        <th>
                                            روزهای هفته
                                        </th>
                                        <th>
                                            هزینه دوره
                                        </th>
                                        <th>
                                            مبلغ پرداختی
                                        </th>
                                        <th>
                                            مانده
                                        </th>
                                        <th>
                                            انتخاب
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var indx = 0;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        <tr data-id="@item.Id" data-tc="@((item.Section.TotalTime*item.Section.HourlyPrice).ToString("0"))">
                                            <td class="PresentId">
                                                @item.Id
                                            </td>
                                            <td>
                                                @item.Section.Course.CourseName
                                            </td>
                                            <td>
                                                @item.Section.Teacher.FullName
                                            </td>
                                            <td>
                                                @{
                                                    var days = item.Schedules.ToList();
                                                    for (var i = 0; i < days.Count(); i++)
                                                    {
                                                        if (i == days.Count() - 1 || days.Count() == 1)
                                                        {
                                                            <span style="cursor: pointer" data-toggle="tooltip" title="@days[i].StartTime.ToString(@"hh\:mm") تا @days[i].EndTime.ToString(@"hh\:mm")">
                                                                @(EnumExtention.GetDescription(days[i].DayOfWeek))
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span style="cursor: pointer" data-toggle="tooltip" title="@days[i].StartTime.ToString(@"hh\:mm") تا @days[i].EndTime.ToString(@"hh\:mm")">
                                                                @(EnumExtention.GetDescription(days[i].DayOfWeek)) ,
                                                            </span>
                                                        }
                                                    }
                                                }


                                            </td>
                                            <td>
                                                @((item.Section.TotalTime * item.Section.HourlyPrice).ToString("N0")) @*تومان*@
                                            </td>
                                            <td>
                                                <input class="paymentAmount" type="number" name="paymentAmount[@indx]" />
                                            </td>
                                            <td class="remain">
                                                @((item.Section.TotalTime * item.Section.HourlyPrice).ToString("N0"))
                                            </td>
                                            <td>
                                                <input class="selectedCourse" type="checkbox" name="selected[@indx]" />
                                            </td>
                                            @{
                                                indx++;
                                            }
                                        </tr>
                                    }
                                    <tr>
                                        <td colspan="4">
                                            <b>
                                                تعداد خرید : <strong id="countOfCard"></strong> درس
                                            </b>
                                        </td>
                                        <td colspan="4">
                                            <b>
                                                جمع خرید : <strong id="totalOfCard"></strong> تومان
                                            </b>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        }

                    </div>
                    <div class="box-footer">
                        @if (Model.Any())
                        {
                            <button type="submit" class="btn btn-success  box-button">ادامه و پرداخت</button>
                        }
                        <a asp-action="Index" class="btn btn-info  box-title"><i class="fa fa-backward"></i></a>

                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        $(document).ready(function () {
            initPage();
            $(".selectedCourse").click(function () {
                if ($(this).is(':checked')) {
                    remain($(this), true);
                } else {
                    remain($(this), false);
                }
            });

            $('.paymentAmount').on('input propertychange paste', function () {
                remain($(this));
            });

            function remain(sender, add) {
                var tr = $(sender).closest("tr");
                var totalcost = tr.data("tc");
                var presentid = tr.data("id");
                var payCost = tr.find(".paymentAmount").val();
                var remain1 = totalcost - payCost;
                tr.find(".remain").html(commaSeparateNumber(remain1));
                refreshDb(presentid, payCost, add);
            }

            function refreshDb(presentid, payCost, add) {
                if (add) {
                    courseCart.addItemToCart(presentid, payCost);
                } else {
                    courseCart.removeItemFromCart(presentid);
                }
                setTotalFooter();
            }

            function setTotalFooter() {
                var count = parseInt(courseCart.countCart());
                var total = parseInt(courseCart.totalCart());
                $("#countOfCard").html(count);
                $("#totalOfCard").html(commaSeparateNumber(total));
            }

            function initPage() {
                var cart = courseCart.listCart();
                $.each(cart, function (index, value) {

                    var id = value.id;
                    var amount = value.amount;

                    var tr = $("tr[data-id='" + id + "']");
                    var checkbox = tr.find(".selectedCourse");
                    var elAmount = tr.find(".paymentAmount");
                    elAmount.val(amount);
                    checkbox.attr('checked', true);
                    remain(checkbox, true);
                    console.log(tr.data("tc"));
                    console.log("id:" + id + ",amount:" + amount);
                });

                //console.log(cart);
            }
        });
    </script>

}