@model IEnumerable<OnlineCourse.Entity.Models.Enrollment>
@{
    ViewData["Title"] = "لیست واحد های انتخابی";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <b class="box-title">@ViewData["Title"] </b>
                    <a asp-action="Create" class="btn btn-success btn-sm box-button" style="margin-bottom: 5px;"  title="افزودن واحد"><i class="fa fa-plus"></i></a>
                </div>
                <div class="box-body">
                    @if (!Model.Any())
                    {
                        <div>
                            <hr />
                            <p class="text-center">
                                <i class="fa fa-frown-o fa-3x" aria-hidden="true"></i>
                            </p>
                            <h4 class="text-center">اطلاعاتی برای نمایش وجود ندارد</h4>
                            <hr />
                        </div>
                    }
                    else
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="table-action">
                                            @*<a asp-action="Index" asp-controller="Galleries" asp-route-publicId="@item.Id" asp-route-kind="@((byte)GalleryKind.UserGallery)" class="btn btn-sm  btn-default" title="@localizer["Galleries"]"><i class="fa fa-picture-o"></i></a>*@
                                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm  btn-default" title="جزییات"> <i class="fa fa-eye"></i></a>
                                            @*<a asp-action="Index" asp-controller="Foods" asp-route-userId="@item.Id" class="btn btn-sm  btn-default" title="@localizer["ShowFoods"]"> <i class="fa fa-cutlery" aria-hidden="true"></i></a>*@
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm  btn-info" title="ویرایش"><i class="fa fa-edit"></i></a>
                                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger" title="حذف"><i class="fa fa-remove"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }

                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-1 col-md-offset-11 col-center-md">

                            <paginationag-helper count="@((Model == null || !Model.Any())?0:Model.Count())" pagination="@ViewBag.Pagination"></paginationag-helper>
                        </div>
                    </div>
                </div>
            </div>





        </div>


    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
