@model OnlineCourse.Panel.utilities.ViewModels.Areas.Admin.CreateUserViewModel

@{
    ViewData["Title"] = localizer["Delete"];
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    @localizer["AreYouSure"]
                </div>
                <div class="box-body">
                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                        <label asp-for="FullName" class="control-label"></label>
                        <div class="form-control">
                            @Html.DisplayFor(model => model.FullName)
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                        <label asp-for="Email" class="control-label"></label>
                        <div class="form-control">
                            @Html.DisplayFor(model => model.Email)
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                        <label asp-for="UserName" class="control-label"></label>
                        <div class="form-control">
                            @Html.DisplayFor(model => model.UserName)
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                        <label asp-for="ExpireDate" class="control-label"></label>
                        <div class="form-control">
                            @Html.DisplayFor(model => model.ExpireDate)
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                        <label asp-for="Mobile" class="control-label"></label>
                        <div class="form-control">
                            @Html.DisplayFor(model => model.Mobile)
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                        <label asp-for="OnOff" class="control-label"></label>
                        <div class="form-control">
                            @if (Model!=null && Model.OnOff != null)
                            {
                              @EnumExtention.GetDescription((GeneralState)Model.OnOff.Value)  
                            } 

                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                        <label asp-for="WorkDays" class="control-label"></label>
                        <div class="form-control">
                            @Html.DisplayFor(model => model.WorkDays)
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                        <label asp-for="AccessLevel" class="control-label"></label>
                        <div class="form-control">
                            @if (Model != null && Model.AccessLevel != null)
                            {
                                @EnumExtention.GetDescription((UserAccessLevel)Model.AccessLevel.Value)
                            }
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                        <label asp-for="Des" class="control-label"></label>
                        <div class="form-control">
                            @Html.DisplayFor(model => model.Des)
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                        <label asp-for="Image" class="control-label"></label>
                        <div class="">
                            <img src="/uploads/galleries/@(await _user.GetUserProfilePicPath(Model.Id))" width="100" height="100" alt=""/>
                        </div>
                    </div>
                    

                </div>
                <div class="box-footer">
                    <form asp-action="Delete">
                        <div class="form-actions no-color">
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                  <button type="submit" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger box-tite"><i class="fa fa-remove"></i></button>
                                  <a asp-action="Index" class="btn btn-info  box-button"><i class="fa fa-backward"></i></a>
                                
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>
