@model IEnumerable<Invoice>

@{
    ViewData["Title"] = "سوابق سفارشات و پرداخت ها";
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";

}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            @Html.Partial("/Views/Shared/_Notifications.cshtml")
            @*@Html.Partial("/Areas/Student/Views/Invoices/_Search.cshtml", new SectionSearchViewModel(_context))*@

            <div class="box">
                <div class="box-header with-border">
                    <b class="box-title">@ViewData["Title"] </b>
                </div>
                <div class="box-body">
                    @if (!Model.Any())
                    {
                        <div>
                            <hr />
                            <p class="text-center">
                                <i class="fa fa-frown-o fa-3x" aria-hidden="true"></i>
                            </p>
                            <h4 class="text-center">هنوز هیچ سفارشی ثبت نشده است.</h4>
                            <hr />
                        </div>
                    }
                    else
                    {
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Id)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.BankId)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.PayType)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PayState)
                                        </th>
                                        <th>
                                            @Html.DisplayName("زمان پرداخت")
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TransactionId)
                                        </th>
                                        <th>
                                            @Html.DisplayName("هزینه پرداختی")
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Id)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BankId)
                                            </td>

                                            <td>
                                                @EnumExtention.GetDescription(item.PayType)
                                            </td>
                                            <td>
                                                @EnumExtention.GetDescription(item.PayState)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LastModifieDateTime)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TransactionId)
                                            </td>
                                            <td>
                                                @(item.Payments.Select(p => p.Amount).Sum().ToString("N0")) تومان
                                            </td>
                                            <td class="table-action">
                                                <button data-toggle="collapse" data-target="#row@(item.Id)" class="btn btn-sm  btn-default" title="جزئیات"> <i class="fa fa-eye"></i></button>
                                                <button class="btn btn-sm  btn-info" title="بازبینی پرداخت"> <i class="fa fa-bank"></i></button>
                                            </td>
                                        </tr>
                                        <tr class="collapse" id="row@(item.Id)">
                                            <td colspan="8">
                                                <div class="box box-info box-solid">
                                                    <div class="box-header with-border">
                                                        <b class="box-title">جزئیات پرداخت </b>
                                                    </div>
                                                    <div class="box-body">
                                                        @if (item.Payments.Any())
                                                        {
                                                            <table class="table table-hover table-bordered table-striped">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="width: 1px;">
                                                                            Id
                                                                        </th>
                                                                        <th  style="width: 1px;">
                                                                            InvoiceId
                                                                        </th>
                                                                        <th >
                                                                            مبلغ
                                                                        </th>
                                                                        <th>
                                                                            نام درس
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var i in item.Payments)
                                                                    {
                                                                    <tr>
                                                                        <td>@i.Id</td>
                                                                        <td>@i.InvoiceId</td>
                                                                        <td>@i.Amount.ToString("N0")</td>
                                                                        <td>@i.Enrollment.Present.Section.Course.CourseName</td>
                                                                    </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        }
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }

                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-1 col-md-offset-11 col-center-md">
                            <paginationag-helper count="@((Model == null || !Model.Any())?0:Model.Count())" pagination="@ViewBag.Pagination"></paginationag-helper>
                        </div>
                    </div>
                </div>
            </div>





        </div>


    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

@Html.Partial("~/Areas/Admin/Views/Sections/_Delete.cshtml")

@section Scripts{
    <script>
        $(document).ready(function () {
            $('button[data-id]').on("click", function () {
                var id = $(this).data("id");
                $("#Id").val(id);
            });
        });
    </script>
}