@model IEnumerable<OnlineCourse.Entity.Models.Course>
@{
    ViewData["Title"] = "لیست دروس";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-8 col-xs-12 col-center-md">
            @Html.Partial("/Views/Shared/_Notifications.cshtml")
            @Html.Partial("/Areas/Admin/Views/Courses/_Search.cshtml",new Course())
            <div class="box">
                <div class="box-header with-border">
                    <b class="box-title">@ViewData["Title"] </b>
                    <a asp-action="Create" class="btn btn-success btn-sm box-button" style="margin-bottom: 5px;"><i class="fa fa-plus"></i></a>
                </div>
                <div class="box-body">
                    @if (!Model.Any())
                    {
                        <div>
                            <hr />
                            <p class="text-center">
                                <i class="fa fa-frown-o fa-3x" aria-hidden="true"></i>
                            </p>
                            <h4 class="text-center">اطلاعاتی برای نمایش وجود ندارد.</h4>
                            <hr />
                        </div>
                    }
                    else
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Level)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @EnumExtention.Description(item.Level)
                                        </td>


                                        <td class="table-action">
                                            @*<a asp-action="Index" asp-controller="Galleries" asp-route-publicId="@item.Id" asp-route-kind="@((byte)GalleryKind.UserGallery)" class="btn btn-sm  btn-default" title="@localizer["Galleries"]"><i class="fa fa-picture-o"></i></a>*@
                                            @*<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm  btn-default" title="@localizer["Detail"]"> <i class="fa fa-eye"></i></a>*@
                                            @*<a asp-action="Index" asp-controller="Foods" asp-route-userId="@item.Id" class="btn btn-sm  btn-default" title="@localizer["ShowFoods"]"> <i class="fa fa-cutlery" aria-hidden="true"></i></a>*@
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm  btn-info" title="@localizer["Edit"]"><i class="fa fa-edit"></i></a>
                                            <button class="btn btn-sm btn-danger" title="حذف" data-toggle="modal" data-target="#deleteModal" data-id="@item.Id"><i class="fa fa-remove"></i></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }

                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-1 col-md-offset-11 col-center-md">
                            <paginationag-helper count="@((Model == null || !Model.Any())?0:Model.Count())" pagination="@ViewBag.Pagination"></paginationag-helper>
                        </div>
                    </div>
                </div>
            </div>





        </div>


    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

@Html.Partial("~/Areas/Admin/Views/Courses/_Delete.cshtml")
@section Scripts{
    <script>
        $(document).ready(function () {
            $('button[data-id]').on("click", function () {
                var id = $(this).data("id");
                $("#Id").val(id);
            });


            var name = getUrlParameter("Name");
            var level = getUrlParameter("Level");
            if (name !== undefined || level !== undefined) {
                $("#collapse").addClass("in");
            }
        });
    </script>
}